<% if (recipient)  { %>
<h3>
	your playlist is ready!
	<h3 />
	<h4>your rules</h4>
	<ol>
		<% for (const rule of recipient.rules) { %>
		<li><%=rule.text%></li>
		<% } %>
	</ol>
	<% if (recipient.dj) { %>
	<%- include('../entry-embed'); %>
	<% } %>
	<% } %>
</h3>
