<details class="more-controls-details">
	<summary class="more-controls-summary">more controls</summary>
	<form name="more-controls-form">
		<% if (query.dead === 'true') { %>
		<button class="more-controls-hide-dead more-controls-dead">hide dead</button>
		<% } else { %>
		<button class="more-controls-show-dead more-controls-dead" name="dead" value="true">show dead</button>
		<% } %>
		<%- include('util/query-passthrough', {query, params: ['take', 'cursor']}); %>
	</form>
</details>
