<form method="POST" class="new-post-form">
	<label for="content" class="new-post-content-label">Message Content</label>
	<textarea class="new-post-content" id="content" name="content" required></textarea>

	<label for="from" class="new-post-from-label">From</label>
	<input class="new-post-from" id="from" name="from" required />

	<button class="new-post-submit">Submit</button>
</form>
