<form method="POST">
	<label for="content">Message Content</label>
	<textarea id="content" name="content"></textarea>

	<label for="from">From</label>
	<input id="from" name="from" />

	<button>Submit</button>
</form>
