<meta charset="UTF-8" />
<title>bob's server</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<style>
	* {
		font-size: 13px;
		font-weight: normal;
		text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.5);
		text-rendering: optimizeLegibility;
		font-family: Georgia, serif;
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
</style>
