<form method="post" class="new-post-form" action="/boxes/<%= box.id %>/posts">
	<label for="content" class="new-post-content-label">message</label>
	<textarea class="new-post-content" id="content" name="content" required></textarea>

	<label for="from" class="new-post-from-label">username (optional)</label>
	<input placeholder="username" class="new-post-from" id="from" name="from" />

	<label for="email" class="new-post-email-label">email for replies (optional and not shown to others)</label>
	<input
		placeholder="email"
		class="new-post-email"
		id="email"
		name="email"
		pattern="^\S+@\S+\.\S+$"
		title="A valid email address"
	/>

	<button class="new-post-submit">submit</button>
</form>
