<form method="POST" class="new-post-form">
	<label for="content" class="new-post-content-label">message content</label>
	<textarea class="new-post-content" id="content" name="content" required></textarea>

	<label for="from" class="new-post-from-label">from</label>
	<input class="new-post-from" id="from" name="from" />

	<button class="new-post-submit">submit</button>
</form>
