<!doctype html>
<html lang="en">
	<head>
		<%- include('../../partials/secret-dj/head'); %>
	</head>
	<body>
		<header>
			<%- include('../../partials/header'); %>
		</header>

		<main>
			<%- include('../../partials/secret-dj/secret-dj-title'); %>
			<div>
				<h2>archive</h2>
			</div>
			<p>these games have now ended and are now available to view</p>
			<%- include('../../partials/secret-dj/game-table', {showOwnership: true, seasons, participantId}); %>
		</main>
	</body>
</html>
