<!doctype html>
<html lang="en">
	<head>
		<%- include('../../partials/head'); %>
	</head>
	<body>
		<header>
			<%- include('../../partials/header'); %>
		</header>

		<main>
			<div>
				<h1>archive</h1>
				this is where all old seasons go
			</div>

			<pre>
data: <%= JSON.stringify({ seasons, cursor }, null, '  ') %>
</pre>
		</main>
	</body>
</html>
