<!doctype html>
<html lang="en">
	<head>
		<%- include('../../partials/head'); %>
	</head>
	<body>
		<header>
			<%- include('../../partials/header'); %>
		</header>

		<main>
			<%- include('../../partials/secret-dj/secret-dj-title'); %>
			<div>
				<h2>create</h2>
				<form name="create-form" method="post">
					<label for="name" class="name-label">name</label>
					<input class="name-input" id="name" name="name" required />

					<label for="description" class="description-label">description</label>
					<textarea class="description-input" id="description" name="description" required></textarea>

					<label for="rules" class="rules-label">rule count</label>
					<input type="number" id="rules" name="rules" min="1" value="2" required />

					<button class="create-save">submit</button>
				</form>
			</div>
		</main>
	</body>
</html>
