<!doctype html>
<html lang="en">
	<head>
		<%- include('../../partials/head'); %>
	</head>
	<body>
		<header>
			<%- include('../../partials/header'); %>
		</header>

		<main>
			<div>
				<h1>create</h1>
				this will probably be some kind of form for creating a new game
			</div>
		</main>
	</body>
</html>
