<!doctype html>
<html lang="en">
	<head>
		<%- include('../../partials/head'); %>
	</head>
	<body>
		<header>
			<%- include('../../partials/header'); %>
		</header>

		<main>
			<%- include('../../partials/secret-dj-title'); %>
			<div>hello! this is the entrypoint for secret dj</div>
			<ul>
				<li><a href="/secret-dj/browse">browse</a></li>
				<li><a href="/secret-dj/create">create</a></li>
				<li><a href="/secret-dj/archive">archive</a></li>
				<li><a href="/secret-dj/settings">settings</a></li>
			</ul>
			<%- include('../../partials/game-table'); %>
		</main>
	</body>
</html>
