<!doctype html>
<html lang="en">
	<head>
		<%- include('../../partials/head'); %>
	</head>
	<body>
		<header>
			<%- include('../../partials/header'); %>
		</header>

		<main>
			<div>
				<h1>secret dj</h1>
				hello! this is the entrypoint for secret dj
			</div>
			// TODO this is where we should see all the games we are currently in OR own. and also the games we own have
			a crown on them!!!
			<ul>
				<li><a href="/secret-dj/browse">browse</a></li>
				<li><a href="/secret-dj/create">create</a></li>
				<li><a href="/secret-dj/archive">archive</a></li>
			</ul>

			<pre>
data: <%= JSON.stringify({ seasons, locals, cursor }, null, '  ') %>
</pre>
		</main>
	</body>
</html>
