<!doctype html>
<html lang="en">
	<head>
		<%- include('../../partials/head'); %>
	</head>
	<body>
		<header>
			<%- include('../../partials/header'); %>
		</header>

		<main>
			<div>
				<h1>secret dj</h1>
				hello! would you like to join secret dj? just give us a name to call you by.

				<form class="signup-form" method="POST">
					<label for="name" class="name-label">name</label>
					<input class="name-input" id="name" name="name" required />

					<button class="signup-submit">submit</button>
				</form>
				<% if (error) { %>
				<span><%= error %></span>
				<% } %>
			</div>
		</main>
	</body>
</html>
