<!doctype html>
<html lang="en">
	<head>
		<%- include('../../../partials/head'); %>
	</head>
	<body>
		<header>
			<%- include('../../../partials/header'); %>
		</header>

		<main>
			<div>hello! this is the entrypoint for boxes</div>
			<ul>
				<li><a href="/toolbox/counters/create">create a new counter</a></li>
				<li><a href="/toolbox/counters/archive">view archive</a></li>
			</ul>
			<%- include('../../../partials/counters/counters-table'); %>
		</main>
	</body>
</html>
