<%= name %>, your playlist is ready. <a href="<%= gameLink %>">click here to see your playlist</a>.
<!-- TODO need to check if the playlist is actually ready... -->
<br />
to unsubscribe from all emails from bob's server, <a href="<%= unsubLink %>">click here</a>
