<%= name %>, your playlist is overdue.
<a href="<%= gameLink %>">click here to see your rules and submit your playlist</a>.
<br />
to unsubscribe from all emails from bob's server, <a href="<%= unsubLink %>">click here</a>
