<%= name %>, it's time to start making a playlist. <a href="<%= gameLink %>">click here to see your rules</a>.
<br />
to unsubscribe from all emails from bob's server, <a href="<%= unsubLink %>">click here</a>
