There are new posts in the message box <a href="<%=boxLink%>"><%=boxName%></a>.
<br />
You are receiving this email because you are subscribed to updates from this box. To manage your email preferences, sign
in to bob's server <a href="<%=manageLink%>">here</a>. To unsubscribe from all emails from bob's server,
<a href="<%=unsubscribeLink%>">click here</a>.
