<!doctype html>
<html lang="en">
	<head>
		<%- include('../../partials/head'); %>
	</head>
	<body>
		<header>
			<%- include('../../partials/header'); %>
		</header>

		<main>
			<div>hello! this is the entrypoint for toolbox</div>
			<ul>
				<li><a href="/toolbox/posts">posts</a></li>
				<li><a href="/toolbox/boxes">boxes</a></li>
				<li><a href="/toolbox/counters">counters</a></li>
			</ul>
		</main>
	</body>
</html>
