<label for="soft-deadline">deadline</label>
<input
	id="soft-deadline"
	type="date"
	name="softDeadline"
	min="<%= minDeadline.toLocaleDateString('fr-ca') %>"
	value="<%=season.softDeadline?.toLocaleDateString('fr-ca') %>"
/>

<label for="hard-deadline">*real* deadline</label>
<input
	id="hard-deadline"
	type="date"
	name="hardDeadline"
	min="<%= minDeadline.toLocaleDateString('fr-ca') %>"
	value="<%=season.hardDeadline?.toLocaleDateString('fr-ca') %>"
/>
