<table>
	<tr>
		<th>recipient</th>
		<th>dj</th>
		<th>playlist</th>
	</tr>
	<% for (const entry of season.entries) { %>
	<% const link = `/secret-dj/games/${season.id}/entries/${entry.id}`%>
	<tr>
		<td><a href="<%=link%>"><%= entry.recipient.name %></a></td>
		<td><%= entry.dj.name %></td>
		<td><%= entry.submissionUrl %></td>
	</tr>
	<% } %>
</table>
