<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>bob's server</title>
<meta name="description" content="a playlist sharing game" />
<link rel="icon" type="image/png" href="/public/secret-dj/favicon.png" />
<link href="/public/secret-dj/styles.css" rel="stylesheet" type="text/css" />
