<h1>
	<a href="/">bob's server</a>
	<span> / </span>
	<a href="/secret-dj">secret dj</a>
	<%var path = path ?? []%>
	<% for (const {href, name} of path) { %>
	<span> / </span>
	<% if (href) { %>
	<a href="<%=href%>"><%=name%></a>
	<% } else { %>
	<span><%=name%></span>
	<% } %>
	<% } %>
</h1>
