<table>
	<tr>
		<th>name</th>
		<th>link</th>
	</tr>

	<% for (const box of boxes) { %>
	<tr>
		<td><%=box.name%></td>
		<td><a href="/toolbox/boxes/admin/<%= box.id %>">view</a></td>
	</tr>
	<% } %>
</table>
<%- include('page-controls', {query, params: ['take']}); %>
