<!doctype html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<header>
			<%- include('../partials/header'); %>
		</header>

		<main>
			<div>
				<h1>Bob's Server</h1>
				<p>
					There's really not much here yet. Maybe you meant to go to the
					<a href="https://github.com/braxtonhall/bobs-server">repo?</a>
				</p>
			</div>
		</main>
	</body>
</html>
