<!doctype html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<header>
			<%- include('../partials/header'); %>
		</header>

		<main>
			<div>
				<h1>bob's server</h1>
				<p>
					there's really not much here yet. maybe you meant to go to the
					<a href="https://github.com/braxtonhall/bobs-server">repo?</a>
				</p>
			</div>
			<ul>
				<li><a href="/toolbox">toolbox</a></li>
				<li><a href="/secret-dj">secret dj</a></li>
				<li><a href="/settings">settings</a></li>
				<li><a href="/logout">logout</a></li>
			</ul>
		</main>
	</body>
</html>
