<!doctype html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<header>
			<%- include('../partials/header'); %>
		</header>

		<main>
			<div>
				<h1>bob's server</h1>
				<p>email confirmed. <a href="/login">login</a> to manage your preferences</p>
			</div>
		</main>
	</body>
</html>
